doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title #{title}
    //- 样式
    block styles
  body
    //- 页头
    include includes/header.pug
    //- 内容
    #content
      block content
    //- 页尾
    include includes/footer.pug
    //- 脚本
    block scripts
